* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 62.5%;
}

a {
  color: #333;
  text-decoration: none;
}

p {
  font-size: 1.2rem;
}

.container {
  padding: 0 0.2rem;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 0.5rem 1.8rem;
  cursor: pointer;
}

.btn:hover {
  background: #777;
}